$primary-text-color: #907e82;
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #fff5f6;
$brand-color: #d41443;
$additional-bg-color-1: #ffb8ca;
$additional-bg-color-2: #f0d1a5;
$additional-bg-color-3: #c2e297;
$label-color: #ffa5ba;
$reviews-bg-color: #e1e1e1;
$accent-text-color: #000000;
