<section class="section">
  <h2 class="hidden-header">Advantages</h2>
  <div class="container">
    <div class="box">
      <ul class="box-list">
        <li class="box-list__item">
          <p class="box-list__title">721</p>
        </li>
        <li>
          <p class="box-list__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
    <div class="box">
      <ul class="box-list">
        <li class="box-list__item">
          <p class="box-list__title">16kg</p>
        </li>
        <li>
          <p class="box-list__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
    <div class="box">
      <ul class="box-list">
        <li class="box-list__item">
          <p class="box-list__title">84</p>
        </li>
        <li>
          <p class="box-list__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
