<section class="section">
  <div class="container container--flex">
    <h2 class="hidden">Customer-reviews</h2>
    <img
      class="customer__image"
      srcset="/images/comment1_85x85.png 1x, /images/comment1_85x85_x2.png 2x"
      src="/images/comment1_85x85.png"
      alt="Фото комментатора"
    />
    <div class="customer__container">
      <p class="customer__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <p class="customer__location">Emily, Los Angeles</p>
    <ul class="customer__pagination">
      <li class="pagination__item pagination__item--active"></li>
      <li class="pagination__item"></li>
      <li class="pagination__item"></li>
    </ul>
  </div>
</section>
