<section class="section">
  <div class="container container--flex">
    <img
      class="customer__image"
      srcset="/images/comment1_85x85.png 1x, /images/comment1_85x85_x2.png 2x"
      src="/images/comment1_85x85.png"
      alt="Фото комментатора"
    />
    <h3 class="customer__text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </h3>
    <p class="customer__location">Emily, Los Angeles</p>
  </div>
</section>
