<section class="hero-header">
    <div class="container">
        <nav class="nav-block">
            <a href="/" class="logo"><img src="./images/logo.svg" alt="logo Icecream"></a>
            <button class="mobile-nav-button" type="button" data-menu-button aria-expanded="false"
                aria-controls="menu-container">
                <svg  class="mobile-nav-icon"  aria-label="Переключатель мобильного меню">
                 <use  width="20" height="12" class="icon-nav" href="./images/sprite.svg#burger"></use>
                <use width="12" height="12"class="icon-cross" href="./images/sprite.svg#cross"></use>
                </svg>
            </button>
            <div class="mobile-nav" id="mobile-nav" data-menu>
                <button class="button button--light button--arrow-dark" type="button">Buy now</button>
                <ul class="mobile-social__list">
                    <li class="mobile-social__item"><a class="mobile-social__link" href="/">Instagram</a></li>
                    <li class="mobile-social__item"><a class="mobile-social__link" href="/">Twitter</a></li>
                    <li class="mobile-social__item"><a class="mobile-social__link" href="/">Facebook</a></li>
                    <li class="mobile-social__item"><a class="mobile-social__link" href="/">LinkedIn</a></li>
                </ul>
            </div>
        </nav>
    </div>
   
</section>