.section-about {
  background: $secondary-bg-color;
  padding-top: 100px;
  padding-bottom: 116px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 66px;
  }
}
.container-about {
  background-position: 0 93%;
  background-repeat: no-repeat;
  background-size: 100%;
  @media screen and (max-width: 767px) {
    background-image: url(../images/milk_320x133.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/milk_320x133x2.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/milk_1280x535.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/milk_1280x535_x2.png);
    }
  }
}

.container-flex {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1280px) {
    justify-content: center;
  }
}
.container-text__item {
  margin: 46px 30px;
}
.container-text__description {
  color: $accent-text-color;
}

.container-images img {
  @media screen and (min-width 768px) {
    width: 340px;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
  }
}

.container-text {
  @media screen and (min-width 768px) {
    width: 340px;
  }

  @media screen and (min-width: 1280px) {
    width: 463px;
  }
}
