.section-advantages {
  background-color: $secondary-bg-color;
  @media screen and (max-width: 767px) {
    padding-bottom: 95px;
  }
  @media screen and (min-width: $tablet) {
    padding-bottom: 140px;
  }
}

.container-advantages {
  padding-top: 1px;
}

.box-list {
  &__item:nth-child(1):before {
    content: '';
    display: block;
    width: 35px;
    height: 50px;
    @media screen and (max-width: 767px) {
      margin-bottom: 17px;
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
    background-image: url(../images/advantages1_35x50.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/advantages1_35x50_x2.png);
    }
    background-size: 35px 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.box-list {
  &__item:nth-child(2):before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    @media screen and (max-width: 767px) {
      margin-bottom: 17px;
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
    background-image: url(../images/advantages2_50x50.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/advantages2_50x50_x2.png);
    }
    background-size: 50px 50px;
    background-repeat: no-repeat;
  }
}

.box-list {
  &__item:nth-child(3):before {
    content: '';
    display: block;
    @media screen and (max-width: 767px) {
      margin-bottom: 17px;
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
    width: 45px;
    height: 50px;
    background-image: url(../images/advantages3_45x50.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/advantages3_45x50_x2.png);
    }
    background-size: 45px 50px;
    background-repeat: no-repeat;
  }
}

.box-list__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $brand-color;
  margin-bottom: 15px;
}
.box-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    justify-content: center;
    flex-wrap: wrap;
  }
}
.box-list__item {
  list-style: none;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 39px;
    }
  }
  @media screen and (max-width: $tablet) {
    .box-list__item n {
    }
    width: 230px;
  }
  @media screen and (min-width: $desktop) {
    width: 180px;
  }
  @media screen and (min-width: $desktop) {
    width: 330px;
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 6 * 15px) / 3);
    margin-top: 30px;
    margin-left: 30px;
  }
}
.box-list__description {
  color: $accent-text-color;
}
.hidden-header {
  display: none;
}
// url(../images/advantages1_35x50.png)
