body {
  background: $primary-bg-color;
  color: $primary-text-color;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
h2 {
  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $brand-color;
  margin-bottom: 30px;
}
.container {
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
  margin: 0 auto;
  padding: 0 20px;
  @media screen and(min-width:$tablet) {
    padding: 0 36px;
  }
}
/* Для всех секций кроме галлереи */
.section {
  padding: 100px 0px;
  @media screen and (min-width: $tablet) {
    padding: 130px 0;
  }
}
