/* красная и белая кнопочки */
.button {
  background-color: $brand-color;
  color: $white-color;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  padding: 9px 17px;
  border-radius: 22px;
  border: none;
  &:hover,
  &:focus {
    background-color: $btn-hover-bg-2;
  }
}
.button--light {
  background-color: $white-color;
  color: $brand-color;
  &:hover,
  &:focus {
    background-color: $btn-hover-bg-1;
  }
}
/* дополнительные классы-модификаторы для кнопок, в которых есть стрелка */
.button--arrow-dark {
  &::after {
    content: '';
    border: solid $brand-color;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(-45deg);
    margin-left: 12px;
  }
}
.button--arrow-light {
  &::after {
    content: '';
    border: solid $white-color;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(-45deg);
    margin-left: 12px;
  }
}
/* Кнопка круг со стрелочкой */
.button-more {
  width: 40px;
  height: 40px;
  background-color: $white-color;
  background-image: url(../images/arrowRight.svg);
  border: none;
  border-radius: 50%;
}
