.footer {
  background-color: $secondary-bg-color;
}
.container--padding {
  padding: 0;
}
.footer--padding {
  padding: 0 20px;
}
.footer__label {
  margin-bottom: 15px;

  font-family: 'Titan One', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $label-color;

  @media screen and (max-width: $mobile - 1) {
    padding-right: 65px;
  }
}

.footer__title {
  margin-bottom: 45px;

  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $brand-color;

  @media screen and (max-width: $mobile - 1) {
    padding-right: 65px;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 45px;
}
.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  background-color: $label-color;

  &:hover,
  &:focus {
    background-color: $brand-color;
  }
}

.social__icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.footer__text {
  margin-bottom: 45px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  text-align: right;

  color: $accent-text-color;
}
.footer__link {
  color: $brand-color;
}

.footer--border {
  width: 100%;
}

.footer__copyright {
  padding: 25px 90px 25px 80px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;

  border-top: 1px solid $reviews-bg-color;
}
