.section-gallery {
  margin-right: auto;
  margin-left: auto;

  background: linear-gradient($secondary-bg-color 40%, $white-color 1%);

  @media screen and( min-width: $tablet) {
    margin-bottom: 120px;
  }
  @media screen and( min-width: $desktop) {
    margin-bottom: 125px;
  }
}
.gallery-img {
  display: block;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  @media screen and( min-width: $tablet) {
    width: 768px;
  }
  @media screen and( min-width: $desktop) {
    width: 1280px;
  }
}
